{
	"presets": ["next/babel"],
	"plugins": [
		"babel-plugin-styled-components",
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"components": "./components",
					"styles": "./styles",
					"utils": "./utils"
				}
			}
		]
	]
}
