.container {
	min-height: 100vh;
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: 3em;
	font-weight: 700;
}

.sub_heading {
	font-size: 2em;
	margin: 1rem 0;
	font-weight: 500;
}

.description {
	font-size: 1em;
	font-weight: 400;
}

.link {
	color: blue;
}
